<mat-progress-bar mode="determinate" [value]="value" style="height: 4px; position: fixed; z-index: 1020;"></mat-progress-bar>
<form [formGroup]="portalForm" class="container d-flex form-text" style="min-height: calc(100vh - 74px);">
  <div class="align-self-end" style="padding-bottom: calc(50vh - 74px); padding-top: calc(43vh - 74px)">
    <div class="px-1" #scrollFirst (click)="scrollToElement(0)">
      <div class="transtion-s on-hover" [ngClass]="{ 'out-focus': isBlur[0], 'in-focus': !isBlur[0] }">
        <span matPrefix class="pr-2">Qual o seu nome?</span>
        <mat-form-field style="width: 500px;" >
          <input matInput type="text" formControlName="first" (blur)="onBlur(0)" (focus)="onFocus(0)" (keyup)="onKey($event , 0)">
        </mat-form-field>
      </div>
    </div>
    <div class="px-1" *ngIf="isDone[0] === true" #scrollSecond (click)="scrollToElement(1)">
      <div class="transtion-s on-hover" [ngClass]="{ 'out-focus': isBlur[1], 'in-focus': !isBlur[1] }">
        <span matPrefix class="pr-2">E sua data de nascimento?</span>
        <mat-form-field>
          <input matInput formControlName="second" (blur)="onBlur(1)"
            (focus)="onFocus(1)" (keyup)="onKey($event, 1)">
          <!-- <mat-datepicker-toggle matSuffix [for]="picker" style="opacity: 0;"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
        </mat-form-field>
      </div>
    </div>
    <div class="px-1" *ngIf="isDone[1] === true" #scrollThird (click)="scrollToElement(2)">
      <div class="transtion-s on-hover out-focus" [ngClass]="{ 'on-pristine': portalForm.controls.third.pristine}">
        <span matPrefix class="pr-2">Qual seu nível de experiência em investimentos?</span><br />
        <mat-radio-group class="radio-group" formControlName="third" (change)="onKey($event , 2); this.scrollToElement(2);">
          <mat-radio-button value="1"><label>Nunca investi, não tenho experiência na área</label></mat-radio-button><br />
          <mat-radio-button value="2"><label>Conheço alguns termos e entendo pouca coisa</label></mat-radio-button><br />
          <mat-radio-button value="3"><label>Tenho conhecimento e segurança para lidar com investimentos, sei tomar
              as decisões corretas</label></mat-radio-button><br />
        </mat-radio-group>
      </div>
    </div>
    <div class="px-1" *ngIf="isDone[2] === true" #scrollFourth (click)="scrollToElement(3)">
      <div class="transtion-s on-hover out-focus" [ngClass]="{ 'on-pristine': portalForm.controls.fourth.pristine}">
        <span matPrefix class="pr-2">Você tem noção de quanto vale o seu patrimônio*?</span><br />
        <mat-radio-group class="radio-group" formControlName="fourth" (change)="onKey($event , 3); this.scrollToElement(3);">
          <mat-radio-button value="1"><label>Não tenho patrimônio</label></mat-radio-button><br />
          <mat-radio-button value="2"><label>Até R$ 100 mil</label></mat-radio-button><br />
          <mat-radio-button value="3"><label>De R$ 100 mil a R$ 500 mil</label></mat-radio-button><br />
          <mat-radio-button value="4"><label>De R$ 500 mil a R$ 1 milhão</label></mat-radio-button><br />
          <mat-radio-button value="5"><label>Acima de R$ 1 milhão</label></mat-radio-button><br />
        </mat-radio-group>
      </div>
    </div>
    <div class="px-1" *ngIf="isDone[3] === true">
      <div class="transtion-s">
        <button mat-flat-button class="button-text py-1" (click)="firstBtn()" routerLink="/perfil">Próximo</button>
      </div>
    </div>
  </div>
</form>

<!-- <form [formGroup]="portalForm" class="container d-flex justify-content-center flex-wrap flex-column form-text mb-3">
  <div class="px-1 align-middle">
    <div class="transtion-s on-hover" [ngClass]="{ 'out-focus': isBlur[0], 'in-focus': !isBlur[0] }">
      <span matPrefix class="pr-2">Qual o seu nome?</span>
      <mat-form-field>
        <input matInput type="text" formControlName="first" (blur)="onBlur(0)" (focus)="onFocus(0)">
      </mat-form-field>
    </div>
  </div>
  <div class="px-1 align-middle" *ngIf="portalForm.controls.first.status == 'VALID'">
    <div class="transtion-s on-hover" [ngClass]="{ 'out-focus': isBlur[1], 'in-focus': !isBlur[1] }">
      <span matPrefix class="pr-2">E sua data de nascimento?</span>
      <mat-form-field>
        <input matInput type="text" formControlName="second" (blur)="onBlur(1)" (focus)="onFocus(1)">
      </mat-form-field>
    </div>
  </div>
  <div class="px-1 align-middle" *ngIf="portalForm.controls.second.status == 'VALID'">
    <div class="transtion-s on-hover out-focus" [ngClass]="{ 'on-pristine': portalForm.controls.third.pristine}">
      <span matPrefix class="pr-2">Qual seu nível de experiência em investimentos?</span><br />
      <mat-radio-group class="radio-group" formControlName="third" >
        <mat-radio-button value="1"><label>Nunca investi, não tenho experiência na área</label></mat-radio-button><br />
        <mat-radio-button value="2"><label>Conheço alguns termos e entendo pouca coisa</label></mat-radio-button><br />
        <mat-radio-button value="3"><label>Tenho conhecimento e segurança para lidar com investimentos, sei tomar as
            decisões corretas</label></mat-radio-button><br />
      </mat-radio-group>
    </div>
  </div>
  <div class="px-1 align-middle" *ngIf="portalForm.controls.third.status == 'VALID'">
    <div class="transtion-s on-hover out-focus" [ngClass]="{ 'on-pristine': portalForm.controls.fourth.pristine}">
      <span matPrefix class="pr-2">Você tem noção de quanto vale o seu patrimônio*?</span><br />
      <mat-radio-group class="radio-group" formControlName="fourth">
        <mat-radio-button value="1"><label>Não tenho patrimônio</label></mat-radio-button><br />
        <mat-radio-button value="2"><label>Até R$ 100 mil</label></mat-radio-button><br />
        <mat-radio-button value="3"><label>De R$ 100 mil a R$ 500 mil</label></mat-radio-button><br />
        <mat-radio-button value="4"><label>De R$ 500 mil a R$ 1 milhão</label></mat-radio-button><br />
        <mat-radio-button value="5"><label>Acima de R$ 1 milhão</label></mat-radio-button><br />
      </mat-radio-group>
    </div>
  </div>
  <div class="px-1" *ngIf="portalForm.controls.fourth.status == 'VALID'">
    <div class="transtion-s">
      <button mat-flat-button class="button-text py-1" (click)="firstBtn()">Próximo</button>
    </div>
  </div>
</form> -->