.transtion-s{
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.in-focus{
  color: rgba(255, 255, 255, 1);
}

.out-focus{
  color: rgba(255, 255, 255, 1);
  opacity: 0.5;
  animation-name: fadeInc;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

.on-pristine{
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

.on-hover:hover{
  opacity: 1;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInc {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.form-text {
	font-family: UnimedSans, sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.button-text {
	font-family: UnimedSans, sans-serif;
	font-weight: 500;
	font-size: 18px;
}

.select-text {
	color: rgb(0, 0, 0);
}

.radio-group {
  flex-direction: column;
}

label {
  white-space: normal !important;
}
