<mat-sidenav-container style="height: 100vh;">
  <!-- Menu lateral mobile -->
  <mat-sidenav #snav mode="over" [fixedInViewport]="true" class="sidenav">
    <img class="my-2 mx-3" height="60px" routerLink="/" src="assets/logo.png"
          alt="logo" /><br>
    <button class="my-2 mx-2" mat-button routerLink="/">Cliente</button><br>
    <button class="my-2 mx-2" mat-button routerLink="/">Corretor</button><br>
    <button class="my-2 mx-2" mat-button routerLink="/">Prestador Saúde</button><br>
    <button class="my-2 mx-2" mat-button routerLink="/">Rede Unimed</button><br>
    <button class="my-2 mx-2" mat-flat-button color="primary" routerLink="/">Acessar a sua conta</button>
  </mat-sidenav>

  <mat-sidenav-content class="d-flex flex-column">
    <!-- Menu superior -->
    <div class="delimitador sticky-top"  style="height: 70px;">
      <div class="container d-flex justify-content-between align-items-center">
        <img class="my-1" height="60px" routerLink="/" src="assets/logo.png"
          alt="logo" />
        <button class="mobile2 ml-auto" mat-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button class="mobile" mat-button routerLink="/">Cliente</button>
        <button class="mobile" mat-button routerLink="/">Corretor</button>
        <button class="mobile" mat-button routerLink="/">Prestador Saúde</button>
        <button class="mobile" mat-button routerLink="/">Rede Unimed</button>
        <button class="mobile" mat-flat-button color="primary" routerLink="/">Acessar a sua conta</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>